PORT=3001
NODE_ENV=development

# JWT Secret - замени на случайную строку (минимум 64 символа)
JWT_SECRET=8ddfda05949bcc8057da59d2b7e62b4f3e12f00d6af892704d87530ae6731cab

# PostgreSQL Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mirageml
DB_USER=postgres
DB_PASSWORD=postgres

# Session
SESSION_SECRET=8ddfda05949bcc8057da59d2b7e62b4f3e12f00d6af892704d87530ae6731cab
SESSION_MAX_AGE=86400000

# Google OAuth 2.0
# Создай проект в Google Cloud Console → Credentials → OAuth Client ID
GOOGLE_CLIENT_ID=995280673189-6ob2c4kc8kfngktpk4si7pn1pd1dtdmg.apps.googleusercontent.com

# SMTP (для отправки писем)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# Frontend URL
FRONTEND_URL=http://localhost:3000
